body {
  background: #f7f7f7;
}



.main-grid {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 48px;
}

.sidebar {
  font-size: 14px;
}

.sidebar h1 {
  margin-top: 0;
}

.sidebar .links a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6px;
}

.sidebar .links a:hover {
  text-decoration: underline;
}
